.tabsAndHeading {
  display: flex;
  flex-direction: column;
  // justify-content: space-between;
  // align-items: baseline;
  margin-bottom: 10px;
  padding: 0 80px 0 30px;
}

h2 {
  color: #0089b3;
}

.gallery {
  // border: 1px solid grey;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start; //space-around;
  padding-left: 30px;
}

