.gallery {
  // border: 1px solid grey;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start; //space-around;
  padding-left: 30px;
}

h1 {
  padding-left: 80px;
  margin-bottom: 50px;
  color: #0089b3;
  // text-align: center;
}